@mixin iconmoon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'iconmoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

$icon-cheveron-down: '\e989';
$icon-cog: '\e988';
$icon-star: '\e987';
$icon-cross: '\e981';
$icon-home: '\e982';
$icon-expand: '\e983';
$icon-dollar: '\e984';
$icon-box: '\e985';
$icon-anten: '\e986';
$icon-cloud-simple: '\e97d';
$icon-clouds-multiple: '\e97e';
$icon-clouds-multiple-secure: '\e97f';
$icon-databases-secured: '\e97c';
$icon-bookmark-flag: '\e963';
$icon-boxes-exchange-connected: '\e964';
$icon-buildings-premises: '\e965';
$icon-chart-growth: '\e966';
$icon-circle-arrows-exchange: '\e967';
$icon-circle-pause: '\e968';
$icon-circle-people: '\e969';
$icon-clock-forward-fast: '\e96a';
$icon-cloud-databases: '\e96b';
$icon-cube-download: '\e96c';
$icon-database-servers: '\e96d';
$icon-gear-singular: '\e96e';
$icon-gears-multiple: '\e96f';
$icon-human-outline-code: '\e970';
$icon-lab-vile: '\e971';
$icon-left-arrows-back: '\e972';
$icon-line-code: '\e973';
$icon-lock-square: '\e974';
$icon-multiple-cubes: '\e975';
$icon-person-outline: '\e976';
$icon-refresh-circular: '\e977';
$icon-security-check: '\e978';
$icon-shorter-stack-database: '\e979';
$icon-stacked-database: '\e97a';
$icon-upload-cloud: '\e97b';
$icon-secure-audit: '\e94d';
$icon-secure-identify: '\e94f';
$icon-secure-mask: '\e950';
$icon-virtualize: '\e951';
$icon-view-and-manage: '\e952';
$icon-secure: '\e953';
$icon-replicate: '\e954';
$icon-automate: '\e955';
$icon-version: '\e956';
$icon-share: '\e957';
$icon-restore: '\e958';
$icon-refresh: '\e959';
$icon-branch: '\e95a';
$icon-bookmark: '\e95b';
$icon-certificate-2: '\e941';
$icon-global-customers: '\e95c';
$icon-founded: '\e95d';
$icon-fortune-100: '\e95e';
$icon-location-pin-group: '\e93c';
$icon-time-off: '\e95f';
$icon-business-check: '\e938';
$icon-healthcare: '\e960';
$icon-flexible-spending: '\e961';
$icon-car-10: '\e93e';
$icon-redirect: '\e962';
$icon-link: '\e947';
$icon-rate-of-change: '\e945';
$icon-security-needs: '\e946';
$icon-user-group: '\e948';
$icon-data: '\e94e';
$icon-angle-right: '\e94c';
$icon-angle-left: '\e94b';
$icon-angle-double-left: '\e949';
$icon-angle-double-right: '\e94a';
$icon-window-setting: '\e92a';
$icon-box-view-setting: '\e92b';
$icon-person-share-1: '\e92c';
$icon-icon-home-data-size: '\e92d';
$icon-move-up: '\e92e';
$icon-cube: '\e92f';
$icon-network-information: '\e930';
$icon-server-share-1: '\e931';
$icon-server-block-2: '\e932';
$icon-server-favorite-heart-1: '\e933';
$icon-server-sync-1: '\e934';
$icon-computer-line-graph: '\e935';
$icon-window-pie-graph: '\e936';
$icon-graph-bar-line: '\e937';
$icon-beach: '\e939';
$icon-medical-box: '\e93a';
$icon-apple-1: '\e93b';
$icon-account-group-4: '\e93d';
$icon-globe-setting: '\e93f';
$icon-globe-3: '\e940';
$icon-location-pin-direction-1: '\e942';
$icon-calendar-1: '\e943';
$icon-plus: '\e925';
$icon-minus: '\e916';
$icon-quote: '\e980';
$icon-quotes-left: '\e924';
$icon-check: '\e920';
$icon-read-more: '\e904';
$icon-arrow-down: '\e944';
$icon-left-arrow: '\e906';
$icon-right-arrow: '\e908';
$icon-play: '\e926';
$icon-share2: '\e923';
$icon-pinterest-p: '\e922';
$icon-mail: '\e921';
$icon-chevron-thin-left: '\e91f';
$icon-chevron-thin-right: '\e91e';
$icon-community: '\e918';
$icon-documentation: '\e919';
$icon-events: '\e91a';
$icon-knowledge: '\e91b';
$icon-resources: '\e91c';
$icon-play-button-2: '\e917';
$icon-menu: '\e915';
$icon-menu-off: '\e902';
$icon-close: '\e914';
$icon-search2: '\e913';
$icon-sphere: '\e912';
$icon-grid: '\e911';
$icon-dpx-calendar: '\e909';
$icon-dpx-filter-text: '\e90a';
$icon-dpx-wrap-text-around: '\e90c';
$icon-video-clip-1: '\e90d';
$icon-dpx-globe: '\e90e';
$icon-dpx-search: '\e90f';
$icon-dpx-news-article: '\e910';
$icon-window-list-user: '\e90b';
$icon-dpx-graph-bar-line: '\e91d';
$icon-triangle-down: '\e907';
$icon-triangle-up: '\e927';
$icon-linkedin: '\e928';
$icon-facebook: '\e905';
$icon-twitter: '\e900';
$icon-caret-down: '\e901';
$icon-user: '\e903';
$icon-phone: '\e929';
