<div><a style="margin-top:20px; margin-left: 30px;" class="btn" href="#">Speak to a Data Expert</a></div>
<br>
<div class="bg--gradient-blue" style="height: 100px;"><a style="margin-top:20px; margin-left: 30px;" class="btn btn--trans" href="#">Talk to an Expert</a></div>
<br>
<div><a style="margin-top:20px; margin-left: 30px;" class="btn  btn--small-radius" href="#">Get a Demo</a></div>