<header>
  <div class="container container--large">
    <div class="header__wrap">
      <div class="header__helper">
        <ul>
          <li>
            <a class="font--gilroy text--small link--dark-gray link--caret-down" href="">English</a>
          </li>
          <li>
            <a class="font--gilroy text--small link--dark-gray" href="">Contact</a>
          </li>
          <li>
            <a class="font--gilroy text--small link--dark-gray link--caret-down" href="">Support</a>
          </li>
          <li>
            <a class="font--gilroy text--small link--dark-gray" href="">Login</a>
          </li>
        </ul>
      </div>
      <div class="header__nav">
        <div class="header__logo">
          <img src="../../images/logo.svg" alt="logo">
        </div>
        <div class="header__menu">
          <ul>
            <li>
              <a class="font--gilroy link--dark-gray" href="">Product</a>
            </li>
            <li>
              <a class="font--gilroy link--dark-gray" href="">Solution</a>
            </li>
            <li>
              <a class="font--gilroy link--dark-gray" href="">Resources</a>
            </li>
            <li>
              <a class="font--gilroy link--dark-gray" href="">Company</a>
            </li>
          </ul>
        </div>
        <div class="header__btn">
          <a class="btn btn--small btn--radius text--medium" href="">Get a Demo</a>
        </div>
        <div class="header__search">
          <a class="icon-search2 link--dark-gray" href=""></a>
        </div>
      </div>
    </div>
  </div>
</header>
