@import '../../vendor/susy/susy';
@import '../imports/functions';
@import '../imports/colors';
@import '../imports/variables';
@import '../imports/mixins';
@import '../imports/icons-variables';

.banner {
  .form-text {
    font-size: rem(18px);
    padding: rem(18px) rem(16px);
    border: none;
  }

  .btn {
    font-size: rem(19px);
    padding: rem(14px) rem(24px);
  }
}

.banner__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.banner__grid__left,
.banner__grid__right {
  width: 50%;
}

.banner__grid__left {

}

.banner__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}



.banner__grid__right {

}

.banner__heading {

}

