.block-example {
  padding: 50px 0; }

.block-example__grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.block-example__item {
  width: 100%;
  margin-top: 30px;
  background-color: red; }
  @media (min-width: 48rem) {
    .block-example__item {
      margin-top: 40px;
      margin-left: 4.20168%;
      width: 47.89916%; }
      .block-example__item:nth-child(2n + 1) {
        margin-left: 0; }
      .block-example__item:nth-child(1), .block-example__item:nth-child(2) {
        margin-top: 0; } }
  @media (min-width: 64rem) {
    .block-example__item {
      margin-left: 3.37838%;
      width: 31.08108%; }
      .block-example__item:nth-child(2n + 1) {
        margin-left: 3.37838%; }
      .block-example__item:nth-child(3n + 1) {
        margin-left: 0; }
      .block-example__item:nth-child(3) {
        margin-top: 0; } }
  .block-example__item:nth-child(1) {
    margin-top: 0; }
  @media (min-width: 80rem) {
    .block-example__item {
      margin-left: 2.72374%;
      width: 31.51751%; }
      .block-example__item:nth-child(2n + 1) {
        margin-left: 2.72374%; }
      .block-example__item:nth-child(3n + 1) {
        margin-left: 0; }
      .block-example__item:nth-child(3) {
        margin-top: 0; } }
  .block-example__item:nth-child(1) {
    margin-top: 0; }
  @media (min-width: 90rem) {
    .block-example__item {
      margin-left: 2.72374%;
      width: 31.51751%; }
      .block-example__item:nth-child(2n + 1) {
        margin-left: 2.72374%; }
      .block-example__item:nth-child(3n + 1) {
        margin-left: 0; }
      .block-example__item:nth-child(3) {
        margin-top: 0; } }
  .block-example__item:nth-child(1) {
    margin-top: 0; }

.block-example__grid2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.block-example__grid2__right,
.block-example__grid2__left {
  width: 50%; }

.block-example__grid2__left {
  min-height: 400px;
  background-color: red; }

.block-example__grid2__right {
  position: relative;
  overflow: hidden;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch; }
  .block-example__grid2__right img {
    height: 100%;
    width: auto;
    position: absolute;
    max-width: inherit;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
