%btn,
.btn {
  background: $btn-color;
  color: $white;
  display: inline-block;
  font-size: rem(18px);
  padding: rem(17px 38px);
  text-align: center;

  &:focus {
    border: none;
    outline: 3px solid $orange;
  }

  &:hover {
    color: $white;
    background: $btn-hover-color;
    text-decoration: none;
  }

  &--trans {
    background: transparent;
    border: rem(3px) solid $white;
  }

  &--radius {
    border-radius: rem(1000px);
  }

  &--long {
    display: block;

    @include susy-media(tablet) {
      display: inline-block;
      min-width: rem(245px);
    } 
  }

  &--font-large {
    font-size: rem(22px);
    padding-top: rem(12px);
    padding-bottom: rem(12px);
  }

  &--small {
    padding: rem(8px 22px);
  }
}
