.btn{
    background-color: $brand-color;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Gilroy',sans-serif;
    padding: 16px 18px;
    min-width:239px;
    display: inline-block;
    text-align: center;
}