%form-text {
  padding: rem(8px);
  width: 100%;
  border: 1px solid $dark-gray;
  outline: 0;

  &:focus {
    border: 1px solid $primary-color;
  }
}

.form-item {
  margin-bottom: rem(20px);
}

.form-text,
.form-textarea {
  @extend %form-text;
}

.form-checkbox,
.form-radio {
  accent-color: $primary-color;
}

.form-radios,
.form-checkboxes {
  label {
    display: inline;
  }
}

label {
  display: block;
  margin-bottom: rem(5px);
}

legend {
  margin-bottom: rem(10px);
}
