.bg {
    &--dark-gray {
        background-color: $dark-gray;
    }

    &--white {
        background-color: $white;
    }

    &--gradient-blue {
        background-image: linear-gradient( to right, $blue, $light-blue);
    }
}

