.bg {
  &--dark-gray {
    background: $dark-gray;
  }

  &--primary-color {
    background-color: $primary-color;
  }

  &--gradient-blue {
    background-image: linear-gradient( to right, $blue, $light-blue);
  }
}

.font {
  &--gilroy {
    @include Gilroy;
  }
}

.text {
  &--bold {
    font-weight: 700;
  }
  
  &--semibold {
    font-weight: 600;
  }
  
  &--medium {
    font-weight: 500;
  }
  
  &--normal {
    font-weight: 400;
  }
  
  &--light {
    font-weight: 300;
  }
  
  &--italic {
    font-style: italic;
  }
  
  &--gray {
    color: $text-color;
  }

  &--white {
    color: $white;

    @extend %heading-white;

    a {
      @extend %link--white;
    }
  }

  &--dark-gray {
    color: $dark-gray;
  }

  &--large {
    font-size: rem(23px);
  }

  &--small {
    font-size: rem(14px);
  }

  &--very-small {
    font-size: rem(12px);
  }
}

.hidden {
  display: none;

  &--mobile {
    @include susy-media(mobileOnly) {
      display: none;
    }
  }
  
  &--tablet {
    @include susy-media(tabletOnly) {
      display: none;
    }
  }
  
  &--desktop {
    @include susy-media(desktop) {
      display: none;
    }
  }
}

.clearfix {
  @include clearfix;
}

.tag {
  color: $primary-color;
  border: rem(1px) solid $primary-color;
  padding: rem(5px) rem(12px);
  border-radius: rem(5px);
  margin-right: rem(6px);
}

.text--uppercase {
  text-transform: uppercase;
}
