@charset 'utf-8';
// ICONS.

%icons {
  @include iconmoon;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}

.icon-right-arrow {
  &:before {
    content: $icon-right-arrow;
  }
}

.icon-left-arrow {
  &:before {
    content: $icon-left-arrow;
  }
}

.icon-read-more {
  &:after {
    content: $icon-read-more;
  }
}
