@charset 'utf-8';
// ICONS.

%icons {
  @include iconmoon;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}

.icon-right-arrow {
  &:before {
    content: $icon-right-arrow;
  }
}

.icon-left-arrow {
  &:before {
    content: $icon-left-arrow;
  }
}

.icon-read-more {
  &:after {
    content: $icon-read-more;
  }
}

.icon-search2 {
  &:before {
    content: $icon-search2;
  }
}

.icon-dpx-search {
  &:before {
    content: $icon-dpx-search;
  }
}

.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}

.icon-triangle-down {
  &:before {
    content: $icon-triangle-down;
  }
}

.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}

.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
