// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.h1,
h1 {
  font-size: 54px;
  font-weight: 500;
}

h2{
  font-size:42px;
}

h3{
  font-size:32px;
}

a{
  color:$brand-color;
  font-weight: 500;
  font-family:Poppins;
  text-decoration: none;
  font-size:16px;
}

.list{
  ol{
    padding-left:20px;
    li{
      list-style-type:decimal;
    }
  }
  ul{
    li{
      position: relative;
      padding-left: rem(34px);
      margin-bottom: rem(13px);
      line-height: 30px;
      &:before{
        content:"";
        background:black;
        width: rem(3px);
        height: rem(3px);
        top: rem(10px);
        position:absolute;
        left:0;
        display:inline-block;
        border-radius: 100%;
      }
    }
  }
}

