// TYPOGRAPHY
// Define all typographic styles in this file.

//Heading
h1,
h2,
h3,
h4,
h5,
h6 {
  @include Gilroy;
  font-weight: 500;
  color: $dark-gray;
  line-height: 1.3;
}

h1 {
  font-size: rem(50px);

  @include susy-media (tablet) {
    font-size: rem(56px);
  }
}

h2 {
  font-size: rem(32px);

  @include susy-media (tablet) {
    font-size: rem(40px);
  }
}

h3 {
  font-size: rem(28px);

  @include susy-media (tablet) {
    font-size: rem(36px);
  }
}

h4 {
  font-size: rem(25px);

  @include susy-media (tablet) {
    font-size: rem(32px);
  }
}

h5 {
  font-size: rem(20px);

  @include susy-media (tablet) {
    font-size: rem(28px);
  }
}

h6 {
  font-size: rem(18px);

  @include susy-media (tablet) {
    font-size: rem(24px);
  }
}

%heading-white {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

//Link
 %link,
.link {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
  
  &:focus {
    outline: 3px solid $link-color;
  }

  &:hover {
    color: $link-hover-color;
  }

  &--caret-down {
    &:after {
      @include iconmoon;
      color: $link-color;
      font-size: rem(12px);
      content: $icon-caret-down;
      margin-left: rem(3px);
    }
  }

  &--arrow {
    &:after {
      @include iconmoon;
      color: $link-color;
      font-size: rem(24px);
      content: $icon-read-more;
      margin-left: 16px;
      vertical-align: bottom;    
    }

    &--white {
        &:after {
        color: $white;
      }
    }
  }

  &--text {
    a {
      color: $text-color;
    }
  }

  &--white {
    color: $white;
  }

  &--dark-gray {
    color: $dark-gray;
  }
}

a {
  @extend %link;
}

.link-wrap {
  &--text {
    @extend %link--text;
  }
}

//List.
%list,
.list {
  &--ul {
    li {
      position: relative;
      padding-left: rem(34px);
      margin-bottom: rem(13px);
      line-height: rem(30px);

      &:before {
        content: "";
        background: $gray;
        width: rem(3px);
        height: rem(3px);
        top: rem(10px);
        position: absolute;
        left: 0;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }

  &--ol {
    li {
      padding-left: rem(20px);
      margin-bottom: rem(13px);
      list-style-type: decimal;
    }
  }

}

.list-wrap {
  ul {
    @extend %list--ul;
  }

  ol {
    @extend %list--ol;
  }
}


//Blockquote.
blockquote {
  @include LibreBaskerville;
  font-style: italic;
  font-size: rem(25px);
  display: block;

  @include susy-media(tablet) {
    font-size: rem(32px);
  }
  
  &:before {
    @include iconmoon;
    content: $icon-quote;
    font-size: rem(18px);
    color: $light-blue;
    margin-bottom: rem(20px);
  }
}
 
abbr {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

kbd {
  padding: rem(5px) rem(10px);
  color: $white;
  background-color: $black;
  border-radius: rem(5px);
}

q {
  quotes: unset;
  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

code,
samp  {
  font-family: monospace;
}

//Table
table {
  text-align: center;

  thead {
    border-bottom: rem(1px) solid $dark-gray;
  }

  th {
    padding: rem(20px);
    font-weight: 700;
  }
  
  td {
    @extend th;
    border-bottom: rem(1px) solid $silver;
    margin: auto;
    font-weight: 400;
  }
}
