// TYPOGRAPHY
// Define all typographic styles in this file.

//Heading
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;
}

.h1,
h1 {
  font-size: rem(54px);
}

h2 {
  font-size: rem(40px);
}

h3 {
  font-size: rem(32px);
}

h4 {
  font-size: rem(30px);
}

h5 {
  font-size: rem(28px);
}

h6 {
  font-size: rem(26px);
}

@include susy-media(mobileOnly) {
  h1 {
    font-size: rem(35px);
  }

  h2 {
    font-size: rem(22px);
  }

  h3 {
    font-size: rem(13px);
  }

  h4 {
    font-size: rem(12px);
  }

  h5 {
    font-size: rem(12px);
  }
  
  h6 {
    font-size: rem(12px);
  }
}


//Link

 %link,
.link {
  font-weight: 600;
  text-decoration: none;

  &,
  &:active,
  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--arrow {
    position: relative;
    padding-right: rem(30px);

    &:after {
      @include iconmoon;
      color: inherit !important;
      content: $icon-right-arrow;
      position: absolute;
      right: 0;
      top: rem(1px);
      transition: 0.3s ease-in;
    }

    &:hover {
      text-decoration: none;

      &:after {
        right: rem(-5px);
      }
    }
  }

  &--dark-gray {
    color: $dark-gray;
    font-weight: 400;

    &:active {
      color: $dark-gray;
    }
  }
}

a {
  @extend %link;
}


//List.
%list-ol,
.list-ol {
    li {
      list-style-type: decimal;
    }
  }

%list-ul,
.list-ul {
    li {
      position: relative;
      padding-left: rem(34px);
      margin-bottom: $base-spacing-bottom;
      line-height: rem(30px);
      &:before{
        content:"";
        background: black;
        width: rem(3px);
        height: rem(3px);
        top: rem(10px);
        position: absolute;
        left:0;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }

.list-wrap {
  ul {
    @extend .list-ul;
  }

  ol {
    @extend .list-ol;
  }
}

//Blockquote.
blockquote {
  font-family: LibreBaskerville;
  font-weight: 400;
  font-style: italic;
  font-size: rem(32px);
  display: block;

  @include susy-media(mobileOnly) {
    font-size: rem(16px);
  }
  
  &:before {
    @include iconmoon;
    content: $icon-quote;
    font-size: rem(18px);
    line-height: $base-line-height;
    color: $light-blue;
    margin-bottom: rem(20px);
  }
}

//Inline-element.

sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: rem(-5px);
}

sub {
  bottom: rem(-5px);
}

small {
  font-size: rem(14px);
}

abbr {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

kbd {
  padding: rem(5px) rem(10px);
  color: $white;
  background-color: $black;
  border-radius: rem(5px);
}

q {
  quotes: unset;
  display: inline;
  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

code {
  font-size: rem(30px);
  color: $pink;
}

samp  {
  font-family: monospace;
}

cite, dfn, var { 
  font-style: italic;
}

//Paragraph

p {
  margin-bottom: $base-spacing-bottom;

  @include susy-media(mobileOnly) {
    font-size: rem(12px);
    margin-bottom: rem(34px);
  }
}

.font--large { 
  font-size: rem(22px);
}

.font--medium {
  font-size: rem(20px);
}

.font--normal {
  font-size: $base-font-size;
}

.font--small {
  font-size: rem(14px) ;
}

.text--bold {
  font-weight: 700;
}

.text--semibold {
  font-weight: 600;
}

.text--medium {
  font-weight: 500;
}

.text--normal {
  font-weight: 400;
}

.text--light {
  font-weight: 300;
}

.text--italic {
  font-style: italic;
}

.text--black {
  color: $black;
}

//Table

table {
  text-align: center;
}

thead {
  border-bottom: rem(1px) solid $dark-gray;
}

th {
  padding: rem(20px);
  font-weight: 700;
}

td {
  @extend th;
  border-bottom: 1px solid $silver;
  margin: auto;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
q,
ul,
li,
code,
samp,
small,
var,
dfn,
abbr,
sub,
sup {
  .bg--dark-gray &,
  .bg--gradient-blue &,
  .bg--blue & {
    color: $white;
  }
}
