.footer {
  padding: rem(40px 0);

  @include susy-media(desktop) {
    padding: rem(60px 0);
  }
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.footer-top__item {

  ul {  
    li {
      margin-bottom: rem(19px);
      font-size: rem(14px);
      margin-top: rem(16px);

      &:last-child() {
        margin-bottom: 0;
      }
    }
  }

  @include susy-media(desktop) {
    width: span(2 of $susy-desktop);
    margin-left: gutter($susy-desktop);

    &:nth-child(6n + 1) {
        margin-left: 0;
      }
    
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        margin-top: 0;
      }
  }
}

.block-social {
  a {
    margin: 0 rem(18px);

    @include susy-media(desktop) {
      margin-right: rem(35px);
      margin-left: 0;

    &:last-child() {
      margin-right: 0;
      }
    }
  }
}

.footer-bottom {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  margin-top: rem(30px);

  @include susy-media(desktop) {
    margin-top: rem(72px);
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.footer-bottom__helper{
  margin-bottom: rem(30px);

  ul {
    li {
      display: inline;
      margin-right: rem(11px);
    }
  }
}

.footer-bottom__copyright {

  @include susy-media(desktop) {
    width: span(2 of $susy-desktop);
    text-align: right;
  }
}
