<strong>Font Large</strong>
<p class="font--large">With decades of industry know-how, a long list of technology patents and awards, FFW answers the challenge for many of the world’s largest most sophisticated businesses—from Facebook to Walmart.</p>
<strong>Font Medium</strong>
<p class="font--medium">With decades of industry know-how, a long list of technology patents and awards, FFW answers the challenge for many of the world’s largest most sophisticated businesses—from Facebook to Walmart.</p>
<strong>Font Normal</strong>
<p>With decades of industry know-how, a long list of technology patents and awards, FFW answers the challenge for many of the world’s largest most sophisticated businesses—from Facebook to Walmart.</p>
<strong>Font Small</strong>
<p class="font--small">With decades of industry know-how, a long list of technology patents and awards, FFW answers the challenge for many of the world’s largest most sophisticated businesses—from Facebook to Walmart.</p>
<hr>
<strong>Text bold</strong>
<p class="text--bold">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<strong>Text semi bold</strong>
<p class="text--semibold">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<strong>Text medium</strong>
<p class="text--medium">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<strong>Text normal</strong>
<p class="text--normal">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<strong>Text light</strong>
<p class="text--light">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<strong>Text Italic</strong>
<p class="text--italic">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<hr>
<strong>Text white</strong>
<p style="background: gray" class="text--white">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
<strong>Text black</strong>
<p class="text--black">Integrate with files and databases, such as Oracle, SQL Server, and SAP HANA.</p>
