<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Data by TB</th>
        <th>Data to Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tom Baker</td>
        <td>10-21-2017</td>
        <td>870</td>
        <td>42931</td>
      </tr>
      <tr>
        <td>Minnie Riley</td>
        <td>11-29-2017</td>
        <td>529</td>
        <td>77239</td>
      </tr>
      <tr>
        <td>Polly Bass</td>
        <td>04-09-2017</td>
        <td>586</td>
        <td>25291</td>
      </tr>
      <tr>
        <td>Rosa McKinney</td>
        <td>10-15-2017</td>
        <td>871</td>
        <td>68407</td>
      </tr>
      <tr>
        <td>Belle Weaver</td>
        <td>03-01-2017</td>
        <td>372</td>
        <td>81891</td>
      </tr>
    </tbody>
  </table>
</div>
