<div style="margin-left: 10px; margin-top:50px;"><a class="btn" href="#">Apply</a></div>
<br>
<div style="height: 100px; margin-top:20px; margin-left:10px; margin-right: 10px;" class="bg--gradient-blue"><a class="btn btn--trans btn--long" href="#">Talk to an Expert</a></div>
<br>
<div style="height: 100px; margin-top: 20px; margin-left:10px; margin-right: 10px;"><a class="btn btn--long btn--gilroy btn--font-large" href="#">Contact Us</a></div>
<br>
<div style="margin-left: 10px; margin-top:20px;"><a class="btn  btn--radius btn--small" href="#">Get a Demo</a></div>
