<form>
  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-subject-0-value form-item-subject-0-value">
    <label for="edit-subject-0-value">Subject</label>
    <input class="js-text-full text-full form-text" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="64" placeholder="Email Address">
  </div>
  <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-comment-body-0-value form-item-comment-body-0-value">
    <label for="edit-comment-body-0-value" class="js-form-required form-required">Comment</label>
    <div class="form-textarea-wrapper">
      <textarea class="js-text-full text-full form-textarea required resize-vertical" data-drupal-selector="edit-comment-body-0-value" id="edit-comment-body-0-value" name="comment_body[0][value]" rows="5" cols="60" placeholder="" required="required" aria-required="true" spellcheck="false"></textarea>
    </div>
  </div>

  <div class="field--type-list-string field--name-field-checkbox field--widget-options-buttons js-form-wrapper form-wrapper" data-drupal-selector="edit-field-checkbox-wrapper" id="edit-field-checkbox-wrapper"><fieldset data-drupal-selector="edit-field-checkbox" id="edit-field-checkbox--wrapper" class="fieldgroup form-composite required js-form-item form-item js-form-wrapper form-wrapper" required="required" aria-required="true">
      <legend>
    <span class="fieldset-legend js-form-required form-required">Radio</span>
  </legend>
  <div class="fieldset-wrapper">
                <div id="edit-field-checkbox" class="form-radios"><div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-field-checkbox form-item-field-checkbox">
        <input data-drupal-selector="edit-field-checkbox-key" type="radio" id="edit-field-checkbox-key" name="field_checkbox" value="key" class="form-radio">

        <label for="edit-field-checkbox-key" class="option">label 1</label>
      </div>
<div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-field-checkbox form-item-field-checkbox">
        <input data-drupal-selector="edit-field-checkbox-key2" type="radio" id="edit-field-checkbox-key2" name="field_checkbox" value="key2" class="form-radio">

        <label for="edit-field-checkbox-key2" class="option">label 2</label>
      </div>
<div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-field-checkbox form-item-field-checkbox">
        <input data-drupal-selector="edit-field-checkbox-key3" type="radio" id="edit-field-checkbox-key3" name="field_checkbox" value="key3" class="form-radio">

        <label for="edit-field-checkbox-key3" class="option">label 3</label>
      </div>
<div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-field-checkbox form-item-field-checkbox">
        <input data-drupal-selector="edit-field-checkbox-key4" type="radio" id="edit-field-checkbox-key4" name="field_checkbox" value="key4" class="form-radio">

        <label for="edit-field-checkbox-key4" class="option">label 4</label>
      </div>
</div>

          </div>
</fieldset>
</div>

  <div class="field--type-list-string field--name-field-checkbox1 field--widget-options-buttons js-form-wrapper form-wrapper" data-drupal-selector="edit-field-checkbox1-wrapper" id="edit-field-checkbox1-wrapper"><fieldset data-drupal-selector="edit-field-checkbox1" id="edit-field-checkbox1--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
    <span class="fieldset-legend">Check Box</span>
  </legend>
  <div class="fieldset-wrapper">
                <div id="edit-field-checkbox1" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-checkbox1-key form-item-field-checkbox1-key">
        <input data-drupal-selector="edit-field-checkbox1-key" type="checkbox" id="edit-field-checkbox1-key" name="field_checkbox1[key]" value="key" class="form-checkbox">

        <label for="edit-field-checkbox1-key" class="option">label 1</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-checkbox1-key2 form-item-field-checkbox1-key2">
        <input data-drupal-selector="edit-field-checkbox1-key2" type="checkbox" id="edit-field-checkbox1-key2" name="field_checkbox1[key2]" value="key2" class="form-checkbox">

        <label for="edit-field-checkbox1-key2" class="option">label 2</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-checkbox1-key3 form-item-field-checkbox1-key3">
        <input data-drupal-selector="edit-field-checkbox1-key3" type="checkbox" id="edit-field-checkbox1-key3" name="field_checkbox1[key3]" value="key3" class="form-checkbox">

        <label for="edit-field-checkbox1-key3" class="option">label 3 </label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-checkbox1-key4 form-item-field-checkbox1-key4">
        <input data-drupal-selector="edit-field-checkbox1-key4" type="checkbox" id="edit-field-checkbox1-key4" name="field_checkbox1[key4]" value="key4" class="form-checkbox">

        <label for="edit-field-checkbox1-key4" class="option">label 4</label>
      </div>
</div>

          </div>
</fieldset>
</div>
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2">
    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" name="op" value="Save" class="btn js-form-submit form-submit">
  </div>
</form>