<div class="block-banner-slider">
  <div class="block-banner-slider__image">
    {{ sliderItem.bigImage}}
  </div>
  <div class="block-banner-slider__image-small">
    {{ sliderItem.smallImage}}
  </div>
</div>
