<div class="banner">
  <div class="container">
    <div class="banner__grid">
      <div class="banner__grid__left">
        <div class="banner__heading">
          <h1>A New Approach to Enterprise Data Delivery & Access</h1>
          <p class="text--large font--gilroy text--dark-gray">Personalized, secure, production-quality data that you can bookmark, version, refresh, restore,branch, and share. Ask us how.</p>
          <div class="banner__form">
            <form>
              <input class="form-text" type="text" placeholder="Email Address"></input>
            </form>
            <div>
              <a class="btn text--semibold" href="#">Speak to a Data Expert</a>
            </div>
          </div>
          <div class="banner__link">
            <a class="link--arrow link--dark-gray" href="#">Depart to Healtcare & insurance</a>
          </div>
        </div>
      </div>

      <div class="banner__grid__right">
        <div class="">
          <img src="https://picsum.photos/1024/710" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>
