<div class="block-example">
  <div class="container">
    <div class="block-example__grid">{{ blockExample.items }}</div>
    {% if blockExample.image is not empty %}
      <span class="block-example__image">{{ blockExample.image }}</span>
    {% endif %}
  </div>
</div>
