<footer class="footer">
  <div class="container container--large">
    <div class="footer__wrap">
      <div class="footer__top">
        <div class="footer__item">
          <div class="footer__logo">
            <a href="">
              <img src="../../images/logo.svg" alt="logo"></img>
            </a>
          </div>
          <div class="footer__icon">
            <ul>
              <li>
                <a class="icon-facebook text--gray" href=""></a>
              </li>
              <li>
                <a class="icon-linkedin text--gray" href=""></a>
              </li>
              <li>
                <a class="icon-twitter text--gray" href=""></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__item">
          <p class="footer__title">PRODUCT</p>
          <ul class="menu">
            <li class="menu-item">
              <a href="" class="text--gray text--small">Platform Overview</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Masking</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">AWS</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Azure</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Delphix for IBM</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Delphix for Oracle</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Delphix for SAP</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <p class="footer__title">SOLUTIONS</p>
          <ul class="menu">
            <li class="menu-item">
              <a href="" class="text--gray text--small">Solitions Overview</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Delphix for Dev Ops</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Data Privacy and Security</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Hybrid Cloud Enablement</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Solutions Overview</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Delphix for Dev Ops</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Data Privacy and Security</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Hybrid Cloud Enablement</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Test Data Management</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Telecom</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <p class="footer__title">COMPANY</p>
          <ul class="menu">
            <li class="menu-item">
              <a href="" class="text--gray text--small">All</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Platform</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Delphix for Dev ops</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Data Privacy and Security</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Hybrid Cloud Enablement</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Test Data Management</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Company and News</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <p class="footer__title">RESOURCES</p>
          <ul class="menu">
            <li class="menu-item">
              <a href="" class="text--gray text--small">Customers</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Partners</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">About Delphix</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Careers</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Support</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Community</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Knowledge</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Documentation</a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <p class="footer__title">SUPPORT</p>
          <ul class="menu">
            <li class="menu-item">
              <a href="" class="text--gray text--small">Community</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Support</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Product Documentation</a>
            </li>
            <li class="menu-item">
              <a href="" class="text--gray text--small">Knowledge Base</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__helper">
          <ul class="footer__bottom-list">
            <li class="footer__bottom-list-item">
              <a href="" class="text--gray text--very-small">Privacy Policy</a>
            </li>
            <li class="footer__bottom-list-item">
              <a href="" class="text--gray text--very-small">Term of Use</a>
            </li>
            <li class="footer__bottom-list-item">
              <a href="" class="text--gray text--very-small">Legal</a>
            </li>
            <li class="footer__bottom-list-item">
              <a href="" class="text--gray text--very-small">Sitemap</a>
            </li>
          </ul>
        </div>
        <p class="footer__website-version text--very-small">© 2017 Delphix</p>
      </div>
    </div>
  </div>
</footer>
